n8n/workflows/2.1.1_health_check.json
{
  "name": "2.1.1 DataPulse Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-health-check",
      "name": "GET /health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-healthy",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "checked_at",
              "name": "checked_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "api_status",
              "name": "api_status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "db_status",
              "name": "db_status",
              "value": "={{ $json.db }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-log-ok",
      "name": "Log OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert_at",
              "name": "alert_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "alert_message",
              "name": "alert_message",
              "value": "DataPulse API health check FAILED. Status: {{ $json.status || 'unreachable' }}, DB: {{ $json.db || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "severity",
              "name": "severity",
              "value": "critical",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "GET /health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /health": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "datapulse-local"
  },
  "tags": [
    {
      "name": "phase-2.1"
    }
  ],
  "active": false
}
