n8n/workflows/2.8.1_ai_insights_digest.json
{
  "name": "2.8.1 DataPulse AI Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "daily-0900-trigger",
      "name": "Daily 09:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/ai-light/status",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-ai-status",
      "name": "Check AI Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.available }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-ai-available",
      "name": "Is AI Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/ai-light/summary",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-ai-summary",
      "name": "Get AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/ai-light/anomalies",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-anomalies",
      "name": "Get Anomalies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack_text",
              "name": "slack_text",
              "value": "=:brain: *DataPulse AI Daily Digest*\n\n*Executive Summary:*\n{{ $('Get AI Summary').item.json.narrative }}\n\n*Highlights:*\n{{ $('Get AI Summary').item.json.highlights.map(h => '• ' + h).join('\\n') }}\n\n*Anomalies Detected:* {{ $('Get Anomalies').item.json.count }}\n{{ $('Get Anomalies').item.json.anomalies ? $('Get Anomalies').item.json.anomalies.map(a => '⚠ ' + a.description).join('\\n') : 'None' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-ai-digest",
      "name": "Format AI Digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"channel\": \"#datapulse-pipeline\", \"text\": \"{{ $json.slack_text }}\", \"username\": \"DataPulse Bot\", \"icon_emoji\": \":brain:\" }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-ai-digest",
      "name": "Send AI Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 09:00 Trigger": {
      "main": [
        [
          {
            "node": "Check AI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Status": {
      "main": [
        [
          {
            "node": "Is AI Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is AI Available?": {
      "main": [
        [
          {
            "node": "Get AI Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Anomalies",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get AI Summary": {
      "main": [
        [
          {
            "node": "Format AI Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Anomalies": {
      "main": [
        [
          {
            "node": "Format AI Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Digest": {
      "main": [
        [
          {
            "node": "Send AI Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "datapulse-local"
  },
  "tags": [
    {
      "name": "phase-2.8"
    }
  ],
  "active": false
}
