n8n/workflows/6.1_gamification_digest.json
{
  "name": "6.1 DataPulse Gamification Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "daily-1900-trigger",
      "name": "Daily 19:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/gamification/leaderboard?limit=10",
        "options": { "timeout": 10000 }
      },
      "id": "get-leaderboard",
      "name": "Get Leaderboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/gamification/feed?limit=10",
        "options": { "timeout": 10000 }
      },
      "id": "get-feed",
      "name": "Get Activity Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/gamification/competitions?status=active",
        "options": { "timeout": 10000 }
      },
      "id": "get-competitions",
      "name": "Get Active Competitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const leaderboard = $input.all()[0]?.json || [];\nconst feed = $input.all()[1]?.json || [];\nconst competitions = $input.all()[2]?.json || [];\n\nconst top3 = (Array.isArray(leaderboard) ? leaderboard : []).slice(0, 3);\nconst recentEvents = (Array.isArray(feed) ? feed : []).slice(0, 5);\nconst activeComps = Array.isArray(competitions) ? competitions : [];\n\nlet msg = '*Gamification Daily Digest*\\n\\n';\n\nif (top3.length > 0) {\n  msg += '*Top 3 Staff (XP):*\\n';\n  const medals = ['🥇', '🥈', '🥉'];\n  top3.forEach((e, i) => {\n    msg += `${medals[i]} ${e.staff_name} — Lv.${e.level} (${e.total_xp.toLocaleString()} XP, ${e.badge_count} badges)\\n`;\n  });\n  msg += '\\n';\n}\n\nif (recentEvents.length > 0) {\n  msg += '*Recent Achievements:*\\n';\n  recentEvents.forEach(e => {\n    msg += `• ${e.staff_name}: ${e.title}\\n`;\n  });\n  msg += '\\n';\n}\n\nif (activeComps.length > 0) {\n  msg += `*Active Competitions:* ${activeComps.length}\\n`;\n  activeComps.forEach(c => {\n    msg += `• ${c.title} (${c.metric}) — ends ${c.end_date}\\n`;\n  });\n}\n\nif (top3.length === 0 && recentEvents.length === 0) {\n  msg += 'No gamification activity today.';\n}\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "format-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "channel",
              "value": "#sales-gamification"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 19:00 Trigger": {
      "main": [
        [
          { "node": "Get Leaderboard", "type": "main", "index": 0 },
          { "node": "Get Activity Feed", "type": "main", "index": 0 },
          { "node": "Get Active Competitions", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Leaderboard": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Get Activity Feed": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Get Active Competitions": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [
        [{ "node": "Send to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "gamification" },
    { "name": "notifications" }
  ]
}
